<div class="panel panel-default product-details">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6 col-md-5 border-right">
        <%= product_image_tag(@product, :show) %>
      </div>
      <div class="col-xs-6 col-md-7">
        <div class="product">
          <h3>
            <%= @product.title %>
          </h3>
          <div class="text-muted">
            <p>
              <%= @product.description %>
            </p>
          </div>
          <h3>
            <%= " #{number_to_currency(@product.price)}" %>
            <%= social_share_button_tag(@product.title) %>
          </h3>
          <hr/>
          <div class="text-muted">
            <p>
              <%= _("EAN: %s") % @product.ean %>
            </p>
            <p>
              <%= _("VAT: %s") % number_to_percentage(@product.vat.rate) %>
            </p>
            <p>
              <%= _("Available: %d of %d") % [@product.available_quantity, @product.quantity] %>
            </p>
          </div>
          <hr/>
          <%= link_to _('Edit'), edit_product_path(@product), class: 'btn btn-default' %>
          <%= link_to _('Back'), products_path %>
        </div>
      </div>
    </div>
  </div>
</div>
